@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body
	margin 0
	padding 0
	box-sizing border-box
*, ::after, ::before
	box-sizing inherit
body
	display flex
	flex-direction column
	height fit-content
	min-height 100vh
	font-family: 'Montserrat', sans-serif;
	background rgba(0,0,0,.05)
	> .container
		flex 1
		@media screen and (max-width: 1024px)
			flex-direction column
			#content
				margin 10px
a
	color #4d20da
	text-decoration none
	position relative
	display inline-block
	&:hover
		color blue
	&:hover:after
		transform scale(1)
	&:after
		content ' '
		position absolute
		bottom -2px
		left 0px
		transform scale(0)
		transition transform .3s ease
		height 2px
		width 100%
		background-color blue

h1,h2,h3,h4,h5
	margin 0
	padding 0
.navbar
	background: linear-gradient(to right,#724790,#793c99)
	.container
		display flex
		justify-content space-between
		align-items center
		@media screen and (max-width: 1024px)
			.brand
				padding-left 10px
	ul
		display flex
		padding 0
		margin 0
		li
			min-width 2em
			padding 1.2em 1em
			list-style none !important
			&.active
				background #62206b
				box-shadow inset 1px 1px 6px rgba(0,0,0,.3)
.navbar a
footer a
	color #FFF
	text-decoration none
	display inline-block
	position relative
	&:hover:after
		transform scale(1)
	&:after
		content ' '
		position absolute
		width 100%
		bottom -2px
		left 0
		background-color #FFF
		height 2px
		transition transform .2s ease
		transform scale(0)
.brand
	display flex
	flex-direction row
	align-items center
	justify-content center
	a
		font-weight bold
	a:first-child
		font-size 2em
		font-weight 900
		text-decoration none
		text-transform uppercase
		text-shadow 1px 1px 3px rgba(0,0,0,1)
.container
	@media screen and (max-width 1024px)
		width 100%
	@media screen and (min-width 1024px)
		width 960px
	margin 0 auto
	display flex
	flex-direction row
.post
	&.full
		@media screen and (min-width 1024px)
			min-height 80vh
	background #FFF
	padding 15px
	max-width 97vw !important
	margin 10px 0 10px
	box-shadow 1px 1px 3px rgba(0,0,0,.1)
	time
		color rgba(0,0,0,.3)
	header
		margin 0 0 10px 0
		h1,h2
			margin-top 10px
	&-meta
		display flex
		justify-content space-between
		> *
			margin-right 5px
		&--author
			display flex
			align-items center
			img
				border-radius 5em
				margin-right 5px
			a
				font-size .9em
	&-content
		img
			max-width 100%
#content
	flex 1
#sidebar
	margin-left 10px
	margin-top 10px
	@media screen and (min-width 1024px)
		max-width 360px
	@media screen and (max-width 1024px)
		display flex
		align-items center
		flex-direction column
.widget
	background #FFF
	padding 20px
	margin-bottom 10px
	box-shadow 1px 1px 3px rgba(0,0,0,.1)
footer
	background #000
	min-height 100px
	display flex
	align-items center
	justify-content flex-end
	@media screen and (max-width 768px)
		justify-content center!important
		#copyleft
			text-align center
			padding 5px
			font-size .8em
#copyleft
	padding 30px
	text-align right
	color #FFF
	a
		color #FFF
		font-weight 900
#paginator
	display flex
	justify-content space-between
	align-items center
	margin 15px 0
	a
		padding 5px
		background #FFF
		margin 0 5px 5px 0
		min-width 30px
		text-align center
		&.current
			background #6d368a
			color #FFF
h1.tag
	margin 10px 0
	border-bottom 1px solid rgba(0,0,0,.2)
.page
	background #FFF
	margin 10px 0
	flex 1
	width 100%
	padding 15px
	box-shadow 1px 1px 3px rgba(0,0,0,.2)
	min-height 50vh
	h1,h2,h3,h4,h5
		border-bottom 1px solid rgba(0,0,0,.2)
.social
	margin 5px 0
	padding 5px
	border-top 1px solid rgba(0,0,0,.3)
	border-bottom 1px solid rgba(0,0,0,.3)
	a
		margin 0 5px 0 0
pre
	background-color rgba(0,0,0,.1)
	border-radius 5px
	border-left 4px solid #84328f
	padding 15px
code
	background-color rgba(0,0,0,.1)
	padding 5px 8px
	border-radius 5px