article.post
	header: h1 Write a post!
	.post-content
		p Go to <code>./src/pages/p</code> folder and create your first post, creating <code>first-post.md</code> file filled with the following content:
		pre.
			---
			title: First post
			tags:
			 - news
			---
			# This is my first post!
		p Any questions? More info: <a href="https://github.com/codemotion/cogear-template-blog">https://github.com/codemotion/cogear-template-blog</a>
		a(href="https://cogearjs.org"): img(src="https://cogearjs.org/images/cogearjs.jpg")